{% extends "base.html" %}
{% set active_page_title = "ORC" %}
{% set active_page = "orc" %}

{% block subnav %}
	<div class="col-xs-12">
		{% if current_user.has_ability("ADD_ORC") %}
			<a href="/orc/add" class="btn btn-default pull-right"><i class="fa fa-plus-circle fa-lg"></i> Add ORC</a>
		{% endif %}
	</div>
{% endblock subnav %}

{% block body %}
	<div class="col-xs-12">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Alias</th>
					<th>Command</th>
					<th>Display Type</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				{% for orc in orcs %}
					<tr>
						<td>{{orc.alias}}</td>
						<td>{{orc.command}}</td>
						<td>{{orc.display_type}}</td>
						<td>
							<div class="text-right">
								{% if current_user.has_ability("EXECUTE_ORC") %}
									<a class="btn btn-default" href="/orc/{{orc.id}}/execute" role="button"><i class="fa fa-bolt"></i> Execute</a>
								{% endif %}
								{% if current_user.has_ability("VIEW_ORC_RESULTS") %}
									<a class="btn btn-default" href="/orc/{{orc.id}}/results" role="button"><i class="fa fa-eye"></i> Results</a>
								{% endif %}
								{% if current_user.has_ability("DELETE_ORC") %}
									<a class="btn btn-default" href="/orc/{{orc.id}}/delete" role="button"><i class="fa fa-trash-o"></i> Delete</a>
								{% endif %}
								{% if current_user.has_ability("EDIT_ORC") %}
									<a class="btn btn-default" href="/orc/{{orc.id}}/edit" role="button"><i class="fa fa-pencil"></i> Edit</a>
								{% endif %}
							</div>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}